@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-VariableFont_wght.ttf);
}

@keyframes rainbow-simple {
    0% {
        color: #ff0000;
    }
    14.2% {
        color: #ff7f00;
    }
    28.5% {
        color: #ffff00;
    }
    42.8% {
        color: #00ff00;
    }
    71.4% {
        color: #0000ff;
    }
    85.7% {
        color: #4b0082;
    }
    100% {
        color: #ff0000;
    }
}

@keyframes rainbow-simple-bg {
    0% {
        background-color: #ff0000;
    }
    14.2% {
        background-color: #ff7f00;
    }
    28.5% {
        background-color: #ffff00;
    }
    42.8% {
        background-color: #00ff00;
    }
    71.4% {
        background-color: #0000ff;
    }
    85.7% {
        background-color: #4b0082;
    }
    100% {
        background-color: #ff0000;
    }
}

@keyframes attention-left {
    0% {
        content: " > ";
    }
    100% {
        content: ">  ";
    }
}

@keyframes attention-right {
    0% {
        content: " < ";
    }
    100% {
        content: "  <";
    }
}

:root {
    --text: #fff;
    --text-second: #bbb;
    --back: #000;
    --link: #366edd;
    --first: #0083e0;
    --warning: #ffaa00;
    --error: #ff0000;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;

    background-color: var(--back);
    color: var(--text);
}

a {
    color: var(--link);
    text-decoration: none;
}

details > summary {
    list-style-type: "";
}