@import url('defaults.css');
@import url('entity/defaults.css');

.entity-title {
    display: flex;
    align-items:start;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 15px;
}

.entity-title img.preview {
    max-width: 300px;
    height: auto;
    border: 3px dotted var(--text);
    box-sizing: border-box;
    margin-bottom: 15px;
}

img.logo {
    width: 100px;
    height: 100px;
}

img.logo:hover {
    animation: spin-simple 1s cubic-bezier(0.79, 0.33, 0.14, 0.53) infinite;
}

span.text-section {
    display: block;
    margin-top: 10px;

    overflow-wrap: break-word;
    hyphens: auto;
}