@import url('defaults.css');
@import url('shared.css');


#cursor {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
}

#cursor.out {
    display: none;
}

#cursor.hover {
    animation: rainbow-simple-bg 3s infinite;
}


#logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #logo {
        font-size: 0.8em;
    }
}

#about, #faq {
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#faq > details {
    cursor: pointer;
    margin: 20px auto;
}

#nojs::before {
    content: "(" attr(data-text1) ")";
}

#nojs:hover::before {
    content: "";
}

#nojs:hover::after {
    content: "(" attr(data-text2) ")";
    animation: rainbow-simple 3s infinite;
}